*{ /*pega tudo no site*/
    font-style: italic;
    margin: 0;
    font-size: 20px;
}

.linhas-tabela{ /*classe*/
    color: blue;
    font-size: 2rem;
}

body{
    height: 100vh;
}

#titulo { /*id*/
    font-weight: 700;
    font-size: 40px;
    color:aqua;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

th { 
    font-style: normal;
    padding: 30px;
}

header, footer {
    background-color: cadetblue;
    height: 100px;
    width: 100%;
}

footer{
    position: absolute;
    bottom: 0;
}

header > p {
    color: white;
}

#paragrafo-espacado{
    line-height: 50px;
}